{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Content</th>
                <th>Img</th>
                <th>Imgalt</th>
                <th>Parent</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Datecreated</th>
                <th>Datemodified</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('avi-category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>{{ category.url }}</td>
                <td>{{ category.content }}</td>
                <td>{{ category.img }}</td>
                <td>{{ category.imgalt }}</td>
                <td>{{ category.parent }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.keywords }}</td>
                <td>{{ category.description }}</td>
                <td>{% if category.dateCreated %}{{ category.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if category.dateModified %}{{ category.dateModified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ category.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('avi-category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('avi-category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('avi-category_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
